.home {
  display: flex;
  gap: 100px;
  justify-content: center;
  align-items: center;
  max-width: 100%;
  margin: 10px 10px;
}
.membership {
  max-width: 30%;
}
.banner {
  width: 200px;
  height: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}
.banner img {
  width: 210px;
  height: 310px;
  object-fit: cover;
  overflow: hidden;
  object-position: center;
}
.button button {
  width: 200px;
  padding: 3px 10px;
  border-radius: 20px;
  border: 1px solid #d7d7d7;
  background-color: #eeeeee;
  color: #6794b3;
}
.sub_title {
  position: relative;
}
.sub_title::after {
  content: "";
  position: absolute;
  bottom: -2px;
  left: 13px;
  transform: translateX(-50%);
  width: 35%;
  height: 1px;
  background-color: rgb(45, 44, 44);
}

@media only screen and (max-width: 768px) {
  .home {
    flex-direction: column;
    gap: 10px;
  }
  .membership {
    max-width: 100%;
  }
}
